<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.entor.mapper.userMapper"> -->
<mapper namespace="Category"><!-- 与接口关联上 -->

	<select id="queryById" resultType="Category">
		select * from category where id = #{id}
	</select>
	<select id="queryAll" resultType="Category">
		select * from category order by id desc
	</select>
	<insert id="add" parameterType="Category">
		insert into category (name) values (#{name})
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			select last_insert_id() as id
		</selectKey>
	</insert>
	<select id="queryByPage" parameterType="map" resultType="Category">
		select * from category order by id limit #{start},#{pageSize}
	</select>
	<select id="getTotals" parameterType="map" resultType="int">
		select count(*) from category
	</select>
	<delete id="deleteById">
		delete from category where id =#{id}
	</delete>
	<update id="update">
		update category
		<trim prefix="set" suffixOverrides=",">
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
		</trim>
		where id = #{id}
	</update>
</mapper>
