<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Order_"><!-- 与接口关联上 -->

	<resultMap type="Order_" id="Order_Map">
		<id property="id" column="id"/>
		<result property="orderCode" column="orderCode"/>
		<result property="address" column="address"/>
		<result property="post" column="post"/>
		<result property="receive" column="receive"/>
		<result property="mobile" column="mobile"/>
		<result property="userMessage" column="userMessage"/>
		<result property="createDate" column="createDate"/>
		<result property="payDate" column="payDate"/>
		<result property="deliveryDate" column="deliveryDate"/>
		<result property="confirmDate" column="confirmDate"/>
		<result property="status" column="status"/>
		<result property="totalNumber" column="totalNumber"/>
		<collection property="user" ofType="User">
			<id property="id" column="uid"/>
			<result property="name" column="name"/>
		</collection>
		<collection property="orderitem" ofType="Orderitem">
			<id property="id" column="oiid"/>
			<collection property="product" ofType="Product">
				<id property="id" column="pid"/>
				<result property="name" column="pname"/>
				<result property="promotePrice" column="promotePrice"/>
				<collection property="firstProductImage" ofType="ProductImage">
					<id property="id" column="pimgid"/>
					<result property="pid" column="pid"/>
					<result property="type" column="type"/>
				</collection>
			</collection>
		</collection>
	</resultMap>

	<insert id="add" parameterType="Order_">
		insert into order_ (orderCode,address,post,receiver,mobile,userMessage,createDate,uid,status) values (#{orderCode},#{address},#{post},#{receiver},#{mobile},#{userMessage},now(),#{user.id},#{status})
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			select last_insert_id() as id
		</selectKey>
	</insert>
	<select id="queryByPage" parameterType="map" resultMap="Order_Map">
		<!-- select o.*,p.promotePrice,oi.number totalNumber,oi.id oiid,p.id pid,max(pimg.id) pimgid,u.name name from order_ o,`user` u,orderitem oi,product p,productimage pimg where o.uid = u.id and o.id = oi.oid and oi.pid = p.id and pimg.id = pid and pimg.type = 'type_single';
 -->	select o.*,p.promotePrice,p.name pname,oi.number totalNumber,oi.id oiid,p.id pid,max(pimg.id) pimgid,u.name name from order_ o,`user` u,orderitem oi,product p,productimage pimg where o.uid = u.id and o.id = oi.oid and oi.pid = p.id and pimg.pid = p.id and pimg.type = 'type_single' GROUP BY p.id order by id
	</select>
	<select id="getTotals" parameterType="map" resultType="int">
		<!-- select count(*) from order_ -->
		SELECT COUNT(*) from (select * from order_ GROUP BY receiver) o<!--应该会遇到	同一用户不同时间端的订单问题  -->
	</select>
	<delete id="deleteById">
		
	</delete>
	<update id="update">
		<!-- update order_
		<trim prefix="set" suffixOverrides=",">
			<if test="status == 'WaitPay'">
				<if test="payDate==null and payDate==''">
					payDate = now(),
				</if>
			</if>
			<if test="status == 'WaitPay'">
				<if test="payDate==null and payDate==''">
					payDate = now(),
				</if>
			</if>
			<if test="status == 'WaitPay'">
				<if test="payDate==null and payDate==''">
					payDate = now(),
				</if>
			</if>
		</trim>
		where id = #{id} -->
	</update>
</mapper>
