<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.entor.mapper.userMapper"> -->
<mapper namespace="Orderitem"><!-- 与接口关联上 -->

	<resultMap type="Orderitem" id="OrderitemMap">
		<id property="id" column="id"/>
		<result property="number" column="number"/>
		<collection property="product" ofType="Product">
				<id property="id" column="pid"/>
				<result property="subTitle" column="subTitle"/>
				<result property="orignalPrice" column="orignalPrice"/>
				<result property="promotePrice" column="promotePrice"/>
				<result property="stock" column="stock"/>
		</collection>
	</resultMap>

	<insert id="add" parameterType="Orderitem">
		insert into orderitem (pid,oid,uid,number) values (#{product.id},#{order.id},#{user.id},#{number})
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			select last_insert_id() as id
		</selectKey>
	</insert>
	<select id="queryById" resultMap="OrderitemMap">
		select * from orderitem where id = #{id}
	</select>
	<select id="queryByUid" parameterType="int" resultMap="OrderitemMap">
		select * from orderitem oi,(select * from order_ o where o.uid = 2 and o.payDate is null) o,product p where (oi.oid = o.id or oi.oid is null) and p.id = oi.pid
	</select>
	<select id="queryByPidAndUid" parameterType="map" resultType="Orderitem">
		select * from orderitem where pid = #{pid} and uid = #{uid}
	</select>
	<select id="queryByPage" parameterType="map" resultMap="OrderitemMap">
		
	</select>
	<select id="getTotals" parameterType="map" resultType="int">
		
	</select>
	
	<select id="getSumNumberByPid" parameterType="int" resultType="String">
		select SUM(number) from orderitem where pid = #{pid}
	</select>
	<select id="getSumAllNumberByPid" parameterType="map" resultType="int">
		(SELECT SUM(number) number from orderitem where uid = #{uid} and pid = #{pid} GROUP BY pid)
	</select>
	
	<delete id="deleteById">
		
	</delete>
	<update id="update">
		update orderitem
		<trim prefix="set" suffixOverrides=",">
			<if test="product!=null and product!=''">
				pid = #{product.id},
			</if>
			<if test="order!=null and order!=''">
				oid = #{order.id},
			</if>
			<if test="user!=null and user!=''">
				uid = #{user.id},
			</if>
			<if test="number!=null and number!=''">
				number = #{number},
			</if>
		</trim>
		where id = #{id}
	</update>
</mapper>
